


* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: right;

}

body {
  border-right: 2px solid #000;
  border-left: 2px solid #000;
  border-spacing: left 10px;

}

.volta {
  border-style: dashed;
}

/* MENU */
#menu {
  position: relative;
  list-style: none;
  background: #000;
  font-weight: 400;
  font-size: 0;
  text-transform: uppercase;
  display: inline-block;
  padding: 0;
  margin: 50px auto;
  text-decoration: none;
}

/* MENU2 */
#menu :hover {
  text-decoration: none;
  background: #fff;
  color: #000;

}

#menu li {
  font-size: 0.8rem;
  display: inline-block;
  position: relative;
  padding: 15px 20px;
  cursor: pointer;
  z-index: 5;
  text-decoration: none;
  min-width: 120px;
}

li {
  text-align: center;
  margin: 0;
  text-decoration: none;
  color: #fff;
}






